---
import "@fontsource-variable/inter";
import "@fontsource-variable/noto-sans-jp";
import "@/assets/app.css";

interface Props {
  class?: string;
  title?: string;
  description?: string;
}

const { title, description, class: className } = Astro.props;
const pageTitle = title ? `${title} | UEC Atlas` : "UEC Atlas";
const pageDescription =
  description ||
  "UEC Atlas は、 電気通信大学のデータを構造化・整理し、誰もが利用できるようにする Linked Open Data プロジェクトです。";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
    <meta name="description" content={pageDescription} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={pageDescription} />
    <meta property="og:image" content={new URL("/ogp.png", Astro.site).href} />
    <meta property="twitter:card" content="summary_large_image" />
  </head>
  <body class={className}>
    <slot />
  </body>
</html>
