---
import CardBreadcrumb from "@/components/CardBreadcrumb.astro";
import Heading1 from "@/components/Heading1.astro";
import Heading2 from "@/components/Heading2.astro";
import DataViewComponent from "@/components/dataview/DataView.astro";
import JSONLDPreview from "@/components/dataview/JSONLDPreview.astro";
import { organizationDataView } from "@/components/dataview/definitions/organization";
import { linkedOrganizationMap, organizationMap } from "@/data";
import { type LinkedOrganization } from "@/data/organizations";
import DataRepositoryLayout from "@/layouts/DataRepositoryLayout.astro";
import { organizationJsonLdMap } from "@/pages/data/organizations/[id]";
import { formatLangString } from "@/utils/rdf";
import { expandURI } from "@/utils/url";

export const prerender = true;

export const getStaticPaths = async () => {
  return Array.from(organizationMap.keys()).map((id) => ({
    params: { id: id.replace("uatr:organizations/", "") },
  }));
};

const { id } = Astro.params;

const currentId = `uatr:organizations/${id}`;
const fullURL = expandURI(currentId);

const organization = linkedOrganizationMap.get(currentId);
const organizationJsonLD = organizationJsonLdMap.get(currentId);
if (!organization || !organizationJsonLD) {
  throw new Error("Organization not found");
}

const getAncestors = (org: LinkedOrganization): LinkedOrganization[] => {
  const parent = org.subOrganizationOf[0];
  if (!parent) return [];
  return [...getAncestors(parent), parent];
};

const ancestors = getAncestors(organization);

const breadcrumbItems = [
  { label: "Home", href: "/page/", icon: "mdi:home" },
  {
    label: "Organizations",
    href: "/page/organizations/",
    icon: "mdi:account-group",
  },
  ...ancestors.map((ancestor) => ({
    tag: ancestor.type,
    label: formatLangString(ancestor.name),
    href: expandURI(ancestor.id),
  })),
  {
    tag: organization.type,
    label: formatLangString(organization.name),
  },
];
---

<DataRepositoryLayout
  title={formatLangString(organization.name, "ja", "無名の組織")}
>
  <CardBreadcrumb items={breadcrumbItems} />
  <Heading1>
    <span slot="subtitle"
      >{formatLangString(organization.name, "en", "Unnamed Organization")}</span
    >
    <span>{formatLangString(organization.name, "ja", "無名の組織")}</span>
  </Heading1>

  <DataViewComponent value={organization} items={organizationDataView} />

  <Heading2>JSON-LD</Heading2>
  <JSONLDPreview
    code={JSON.stringify(organizationJsonLD, null, 2)}
    ontology="organization"
    fullURL={fullURL}
  />
</DataRepositoryLayout>
