---
import CardBreadcrumb from "@/components/CardBreadcrumb.astro";
import Heading1 from "@/components/Heading1.astro";
import Heading2 from "@/components/Heading2.astro";
import JSONLDPreview from "@/components/JSONLDPreview.astro";
import Layout from "@/layouts/Layout.astro";
import { allJSONLD } from "@/pages/data/organizations/all";
import { expandURI } from "@/utils/url";
import { Icon } from "astro-icon/components";

export const prerender = true;

const currentId = `uatr:organizations/all`;
const fullURL = expandURI(currentId);

const breadcrumbItems = [
  { label: "Home", href: "/", icon: "mdi:home" },
  {
    label: "Organizations",
    href: "/page/organizations/",
    icon: "mdi:account-group",
  },
  {
    label: "all",
  },
];
---

<Layout>
  <CardBreadcrumb items={breadcrumbItems} />
  <Heading1>
    <span>すべての組織</span>
  </Heading1>

  <ul class="flex flex-col gap-2">
    {
      allJSONLD.items.map((subOrg) => (
        <li>
          <a
            class="flex flex-row items-center justify-between rounded-md p-4 hover:bg-base-200 transition-colors border border-base-300 hover:border-primary"
            href={expandURI(subOrg.id)}
          >
            <div class="flex flex-col gap-1">
              <h3 class="flex flex-row gap-2 items-baseline">
                <span class="font-bold">
                  {subOrg.name?.ja ?? subOrg.name?.en ?? "Unknown Organization"}
                </span>
                <span class="d-badge d-badge-primary d-badge-soft d-badge-sm">
                  {subOrg.type}
                </span>
              </h3>
              {subOrg.name?.ja && subOrg.name?.en && (
                <p class="text-xs text-base-content/70">{subOrg.name?.en}</p>
              )}
            </div>
            <Icon name="mdi:chevron-right" />
          </a>
        </li>
      ))
    }
  </ul>

  <Heading2>JSON-LD</Heading2>

  <div class="d-join w-full mb-2">
    <input class="d-input d-join-item w-full" readonly value={fullURL} />
    <button class="d-btn d-join-item copy" data-value={fullURL}>
      <Icon name="mdi:content-copy" />
    </button>
    <a
      class="d-btn d-join-item"
      href={fullURL.replace("/resources/", "/data/")}
      target="_blank"
    >
      <Icon name="mdi:external-link" />
    </a>
  </div>

  <JSONLDPreview code={JSON.stringify(allJSONLD, null, 2)} />
</Layout>

<script>
  document.querySelector(".copy")?.addEventListener("click", (event) => {
    const button = event.currentTarget as HTMLButtonElement;
    const value = button.getAttribute("data-value");
    if (value) {
      navigator.clipboard.writeText(value);
    }
  });
</script>
