---
import CardBreadcrumb from "@/components/CardBreadcrumb.astro";
import Heading1 from "@/components/Heading1.astro";
import Heading2 from "@/components/Heading2.astro";
import DataViewComponent from "@/components/dataview/DataView.astro";
import JSONLDPreview from "@/components/dataview/JSONLDPreview.astro";
import SpatialPreviewMap from "@/components/dataview/SpatialPreviewMap.astro";
import { spatialDataView } from "@/components/dataview/definitions/spatial";
import { linkedSpatialMap, spatialMap } from "@/data";
import { type LinkedSpatialEntity } from "@/data/spatial";
import DataRepositoryLayout from "@/layouts/DataRepositoryLayout.astro";
import { spatialJsonLdMap } from "@/pages/data/spatial/[id]";
import { formatLangString } from "@/utils/rdf";
import { expandURI } from "@/utils/url";

export const prerender = true;

export const getStaticPaths = async () => {
  return Array.from(spatialMap.keys()).map((id) => ({
    params: { id: id.replace("uatr:spatial/", "") },
  }));
};

const { id } = Astro.params;

const currentId = `uatr:spatial/${id}`;
const fullURL = expandURI(currentId);

const spatial = linkedSpatialMap.get(currentId);
const spatialJsonLD = spatialJsonLdMap.get(currentId);
if (!spatial || !spatialJsonLD) {
  throw new Error("Spatial not found");
}

const getAncestors = (spatial: LinkedSpatialEntity): LinkedSpatialEntity[] => {
  const parent = spatial.properties.containedInPlace;
  if (!parent) return [];
  return [...getAncestors(parent), parent];
};

const ancestors = getAncestors(spatial);

const breadcrumbItems = [
  { label: "Home", href: "/page/", icon: "mdi:home" },
  {
    label: "Spatial",
    href: "/page/spatial/",
    icon: "mdi:map",
  },
  ...ancestors.map((ancestor) => ({
    tag: ancestor.properties.type,
    label: formatLangString(ancestor.properties.name),
    href: expandURI(ancestor.id),
  })),
  {
    tag: spatial.properties.type,
    label: formatLangString(spatial.properties.name),
  },
];
---

<DataRepositoryLayout
  title={formatLangString(spatial.properties.name, "ja", "無名の地理情報")}
>
  <CardBreadcrumb items={breadcrumbItems} />
  <Heading1>
    <span slot="subtitle"
      >{
        formatLangString(
          spatial.properties.name,
          "en",
          "Unnamed Spatial Entity",
        )
      }</span
    >
    <span
      >{formatLangString(spatial.properties.name, "ja", "無名の地理情報")}</span
    >
  </Heading1>

  <DataViewComponent value={spatial} items={spatialDataView} />

  <Heading2>プレビュー</Heading2>
  {
    spatialJsonLD.geometry ? (
      <div class="w-full h-96 border border-base-300 rounded-md overflow-hidden mb-4">
        <SpatialPreviewMap
          style="width: 100%; height: 100%;"
          feature={spatialJsonLD as unknown as GeoJSON.Feature}
        />
      </div>
    ) : (
      <p class="mb-4">ジオメトリ情報が存在しないため、地図を表示できません。</p>
    )
  }

  <Heading2>JSON-LD</Heading2>
  <JSONLDPreview
    code={JSON.stringify(spatialJsonLD, null, 2)}
    ontology="spatial"
    fullURL={fullURL}
  />
</DataRepositoryLayout>
