---
import Icon from "@/components/Icon.svelte";
import { defineIcons } from "icon-plugin";

interface Props {
  items: {
    label?: string;
    tag?: string;
    icon?: string;
    href?: string;
  }[];
}

defineIcons(["mdi:home", "mdi:account-group", "mdi:map"]);
const { items } = Astro.props;
---

<div class="d-breadcrumbs text-sm">
  <ul>
    {
      items.map((item) => (
        <li>
          {item.href ? (
            <a
              href={item.href}
              class="flex flex-row items-center h-full bg-base-200 hover:bg-base-100 border border-base-300 rounded-lg px-3 py-1.5 transition"
            >
              {item.icon && <Icon class="text-lg" name={item.icon} />}
              <div class="flex flex-col">
                {item.tag && <span class="text-xs opacity-70">{item.tag}</span>}
                <span class="font-bold">{item.label}</span>
              </div>
            </a>
          ) : (
            <div class="flex flex-row items-center h-full bg-base-200 border border-base-100 rounded-lg px-3 py-1.5 no-underline cursor-auto">
              {item.icon && <Icon class="text-lg" name={item.icon} />}
              <div class="flex flex-col">
                {item.tag && <span class="text-xs opacity-70">{item.tag}</span>}
                <span class="font-bold">{item.label}</span>
              </div>
            </div>
          )}
        </li>
      ))
    }
  </ul>
</div>
